# Optional Activity
More playing with toy dfs

1) Make a dataframe with columns for name and birthday, containing this information for at least three people.   
2) Make another dataframe with with columns for name and favorite falvor of cake, containing this information for at least three people.          
3) Merge your two dfs useing any method (outer, innner, right, left)(ideally there will be at least one name that is in both dfs)   
4) Extract the favorite flavor of cake for one person based on their name

# More Pandas (Yey)

In [115]:
df = pd.DataFrame({'ID': ['Alfa', 'Bravo', 'Charlie', 'Delta'],
                  'code10': [23,42,22,54],
                  'code11': [32,55,87,90]})

In [116]:
df

        ID  code10  code11
0     Alfa      23      32
1    Bravo      42      55
2  Charlie      22      87
3    Delta      54      90

## Wide to Long

In [117]:
pd.wide_to_long(df, stubnames='code', i='ID', j='num').reset_index()

        ID  num  code
0     Alfa   10    23
1    Bravo   10    42
2  Charlie   10    22
3    Delta   10    54
4     Alfa   11    32
5    Bravo   11    55
6  Charlie   11    87
7    Delta   11    90

In [118]:
df = pd.DataFrame({'ID': ['Alfa', 'Bravo', 'Charlie', 'Delta'],
                  'code_10': [23,42,22,54],
                  'code_11': [32,55,87,90]})

In [119]:
pd.wide_to_long(df, stubnames='code', i='ID', j='num').reset_index()

Empty DataFrame
Columns: [ID, num, code_10, code_11, code]
Index: []

In [120]:
long_df = pd.wide_to_long(df, stubnames='code', i='ID', j='num', sep='_').reset_index()
long_df

        ID  num  code
0     Alfa   10    23
1    Bravo   10    42
2  Charlie   10    22
3    Delta   10    54
4     Alfa   11    32
5    Bravo   11    55
6  Charlie   11    87
7    Delta   11    90

## Long to Wide

In [169]:
wide_df = long_df.pivot(index = 'ID', values = 'code', columns = 'num').reset_index()
wide_df

num       ID  10  11
0       Alfa  23  32
1      Bravo  42  55
2    Charlie  22  87
3      Delta  54  90

In [170]:
wide_df.rename(columns = {10: 'code_10', 11:'code_11'}, inplace = True)
wide_df

num       ID  code_10  code_11
0       Alfa       23       32
1      Bravo       42       55
2    Charlie       22       87
3      Delta       54       90

## Let's look at some real data

Data from https://data.cityofchicago.org

In [ ]:
import os
import pandas as pd

In [134]:
os.getcwd()
os.chdir('/Users/Sarah/Documents/GitHub/Programming_Lab_5-12-20')

In [135]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'Pandas_merge_reshape.ipynb',
 '.git',
 'Data']

In [136]:
os.chdir('/Users/Sarah/Documents/GitHub/Programming_Lab_5-12-20/Data')

In [137]:
os.listdir()

['.DS_Store', 'Chicago_Death.csv', 'Chicago_SES.csv']

In [138]:
path = '/Users/Sarah/Documents/GitHub/Programming_Lab_5-12-20/Data'


mort_df = pd.read_csv(os.path.join(path, 'Chicago_Death.csv'))
SES_df = pd.read_csv(os.path.join(path, 'Chicago_SES.csv'))

In [139]:
mort_df.head()

,Cause of Death,Community Area,Community Area Name,Cumulative Deaths 2006 - 2010,Cumulative Deaths Rank,Average Annual Deaths 2006 - 2010,Average Crude Rate 2006 - 2010,Average Crude Rate Lower CI,Average Crude Rate Upper CI,Crude Rate Rank,Average Adjusted Rate 2006 - 2010,Average Adjusted Rate Lower CI,Average Adjusted Rate Upper CI,Adjusted Rate Rank,Average Annual Years of Potential Life Lost (YPLL) Rate 2006 - 2010,YPLL Rate RANK,WARNING
0,All Causes,1,Rogers Park,1741,22.0,348,614.2,585.3,643.1,51.0,895.2,852.2,939.3,29.0,7128,37.0,NaN
1,All Causes,2,West Ridge,2612,5.0,522,723.6,695.8,751.4,42.0,689.9,663.3,717.1,58.0,6123,49.0,NaN
2,All Causes,3,Uptown,2542,6.0,508,879.6,845.4,913.8,31.0,934.0,897.5,971.2,24.0,9147,31.0,NaN
3,All Causes,4,Lincoln Square,1108,40.0,222,547.0,514.8,579.2,60.0,698.7,657.4,741.3,53.0,5344,62.0,NaN
4,All Causes,5,North Center,690,59.0,138,433.0,400.7,465.3,68.0,681.2,630.1,734.3,61.0,4058,74.0,NaN

In [140]:
mort_df.shape

(1404, 17)

In [141]:
comm_areas = mort_df['Community Area Name'].unique()
len(comm_areas)

78

In [142]:
mort_df['Cause of Death'].unique()

array(['All Causes', 'All causes in males', 'All causes in females',
       'Alzheimers disease', 'Cancer (all sites)', 'Assault (homicide)',
       'Breast cancer in females', 'Colorectal cancer',
       'Coronary heart disease', 'Diabetes-related', 'Firearm-related',
       'Injury, unintentional',
       'Kidney disease (nephritis, nephrotic syndrome and nephrosis)',
       'Liver disease and cirrhosis', 'Lung cancer',
       'Prostate cancer in males', 'Stroke (cerebrovascular disease)',
       'Suicide (intentional self-harm)'], dtype=object)

## Reshape

In [143]:
avg_an_death = mort_df.pivot(index = 'Community Area', columns='Cause of Death', 
                            values='Average Annual Deaths 2006 - 2010')

In [144]:
avg_an_death.head()

Cause of Death,All Causes,All causes in females,All causes in males,Alzheimers disease,Assault (homicide),Breast cancer in females,Cancer (all sites),Colorectal cancer,Coronary heart disease,Diabetes-related,Firearm-related,"Injury, unintentional","Kidney disease (nephritis, nephrotic syndrome and nephrosis)",Liver disease and cirrhosis,Lung cancer,Prostate cancer in males,Stroke (cerebrovascular disease),Suicide (intentional self-harm)
Community Area,,,,,,,,,,,,,,,,,,
0,19570,9622,9946,348,449,360,4552,499,3418,625,415,784,536,258,1180,282,988,177
1,348,163,185,5,4,6,72,10,75,12,3,13,8,5,17,3,12,4
2,522,262,260,11,4,9,113,13,104,18,3,15,15,5,27,5,26,4
3,508,243,266,11,3,7,95,10,116,20,3,16,14,8,25,5,21,5
4,222,101,121,3,1,4,48,2,43,6,1,9,8,4,13,3,10,3

In [145]:
avg_an_death.shape

(78, 18)

In [146]:
comm_areas = mort_df['Community Area Name'].unique()
len(comm_areas)

78

### Check for Nan

In [147]:
SES_df.head()

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [148]:
SES_df.shape

(78, 9)

In [149]:
SES_df.isna().any()

Community Area Number                            True
COMMUNITY AREA NAME                             False
PERCENT OF HOUSING CROWDED                      False
PERCENT HOUSEHOLDS BELOW POVERTY                False
PERCENT AGED 16+ UNEMPLOYED                     False
PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA    False
PERCENT AGED UNDER 18 OR OVER 64                False
PER CAPITA INCOME                               False
HARDSHIP INDEX                                   True
dtype: bool

In [150]:
SES_df.isna().any().any()
#true if any in the any are T

True

In [151]:
SES_df.isna().any().all()
#now only T if they were all T, so all in this serise of df.isany().any() is full of True

False

### Another way to look at NAs
#### From Alberto Nieto
https://www.youtube.com/watch?v=RNwIE7zp8qE&feature=youtu.be

In [152]:
# Set the field to check nulls for
field_to_check = "Community Area Number"

# Determine how many rows are in the table
rowcount = SES_df.shape[0]

# Determine how many rows have null Longitude
null_long_rowcount = SES_df.loc[SES_df[field_to_check].isnull()].shape[0]

# Calculate how much of the data this represents as a percentage
percentage_null_long = round((null_long_rowcount / rowcount) * 100, 2)

# Use a print statement to report this information
print("There were "+str(null_long_rowcount)+" records with null "+str(field_to_check)+" values in the data.\nThis amounts to " +str(percentage_null_long)+"% of the available data.")

There were 1 records with null Community Area Number values in the data.
This amounts to 1.28% of the available data.

In [153]:
SES_df[SES_df['Community Area Number'].isna()]

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

## Merge

In [154]:
avg_an_death.columns

Index(['All Causes', 'All causes in females', 'All causes in males',
       'Alzheimers disease', 'Assault (homicide)', 'Breast cancer in females',
       'Cancer (all sites)', 'Colorectal cancer', 'Coronary heart disease',
       'Diabetes-related', 'Firearm-related', 'Injury, unintentional',
       'Kidney disease (nephritis, nephrotic syndrome and nephrosis)',
       'Liver disease and cirrhosis', 'Lung cancer',
       'Prostate cancer in males', 'Stroke (cerebrovascular disease)',
       'Suicide (intentional self-harm)'],
      dtype='object', name='Cause of Death')

In [155]:
avg_an_death['Community Area'].head()

KeyError: 'Community Area'

In [156]:
avg_an_death.reset_index(inplace = True)
avg_an_death.head()

Cause of Death,Community Area,All Causes,All causes in females,All causes in males,Alzheimers disease,Assault (homicide),Breast cancer in females,Cancer (all sites),Colorectal cancer,Coronary heart disease,Diabetes-related,Firearm-related,"Injury, unintentional","Kidney disease (nephritis, nephrotic syndrome and nephrosis)",Liver disease and cirrhosis,Lung cancer,Prostate cancer in males,Stroke (cerebrovascular disease),Suicide (intentional self-harm)
0,0,19570,9622,9946,348,449,360,4552,499,3418,625,415,784,536,258,1180,282,988,177
1,1,348,163,185,5,4,6,72,10,75,12,3,13,8,5,17,3,12,4
2,2,522,262,260,11,4,9,113,13,104,18,3,15,15,5,27,5,26,4
3,3,508,243,266,11,3,7,95,10,116,20,3,16,14,8,25,5,21,5
4,4,222,101,121,3,1,4,48,2,43,6,1,9,8,4,13,3,10,3

In [157]:
avg_an_death['Community Area'].head()

0    0
1    1
2    2
3    3
4    4
Name: Community Area, dtype: int64

In [158]:
SES_df.columns

Index(['Community Area Number', 'COMMUNITY AREA NAME',
       'PERCENT OF HOUSING CROWDED', 'PERCENT HOUSEHOLDS BELOW POVERTY',
       'PERCENT AGED 16+ UNEMPLOYED',
       'PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA',
       'PERCENT AGED UNDER 18 OR OVER 64', 'PER CAPITA INCOME ',
       'HARDSHIP INDEX'],
      dtype='object')

In [159]:
merge1 = avg_an_death.merge(SES_df, left_on = 'Community Area', right_on ='Community Area Number', how = 'inner')
merge1.head()

,Community Area,All Causes,All causes in females,All causes in males,Alzheimers disease,Assault (homicide),Breast cancer in females,Cancer (all sites),Colorectal cancer,Coronary heart disease,...,Suicide (intentional self-harm),Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1,348,163,185,5,4,6,72,10,75,...,4,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2,522,262,260,11,4,9,113,13,104,...,4,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3,508,243,266,11,3,7,95,10,116,...,5,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4,222,101,121,3,1,4,48,2,43,...,3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5,138,74,64,2,0,2,31,5,27,...,3,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [160]:
merge1.shape

(77, 28)

In [161]:
merge2 = avg_an_death.merge(SES_df, left_on = 'Community Area', right_on ='Community Area Number', how = 'left')
merge2.shape

(78, 28)

In [162]:
merge3 = avg_an_death.merge(SES_df, left_on = 'Community Area', right_on ='Community Area Number', how = 'right')
merge3.shape

(78, 28)

In [163]:
merge3[merge3['Community Area Number'].isna()]

,Community Area,All Causes,All causes in females,All causes in males,Alzheimers disease,Assault (homicide),Breast cancer in females,Cancer (all sites),Colorectal cancer,Coronary heart disease,...,Suicide (intentional self-harm),Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [164]:
merge2[merge2['Community Area Number'].isna()]

,Community Area,All Causes,All causes in females,All causes in males,Alzheimers disease,Assault (homicide),Breast cancer in females,Cancer (all sites),Colorectal cancer,Coronary heart disease,...,Suicide (intentional self-harm),Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,0,19570,9622,9946,348,449,360,4552,499,3418,...,177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN